body {
  background: teal;
  display: flex;
  justify-content: center;
  padding: 50px;
}

main {
  /*  */
}

.board {
  background-color: rgba(10, 85, 85, 0.5);
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.grid {
  background-color: teal;
}
