* {
  margin: 0;
  padding: 0;
}

body {
  background: teal;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  height: min(400px, 100%);
  width: min(400px, 100%);
}

.board {
  background-color: rgba(10, 85, 85, 0.5);
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  gap: 10px;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: teal;
}

img {
  max-width: 70%;
  max-height: 70%;
}

h1 {
  font-size: 9rem;
}

button {
  padding: 8px;
}
